
  
  .container{
    text-align:center;
  }
  
  
  .Form {
  
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    margin:auto;
    margin-top: 12%;
  }



  
  .Input {
    background-color: #edeef1;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: rgb(14, 12, 12);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    text-align:center;
  }
  
  

  

  
  .Submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
     outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  .Submit:hover {
      background-color:white;
      color:#06b;
      font-weight: bold;
  }
  .label {
      color:white;

  }